$white-color:#fff;
$black-color:black;
$red-color:red;
$orange-color:orange;
$yellow-color:yellow;
$green-color:green;
$blue-color:blue;
$Indian-color:#4B0082;
$purple-color:purple;
$bold:bold;

// .bg {
    // &-red {
    //   @include set-background($red-color);
//   }
  
// Set background & text color
// @mixin set-background($color) {
    // background-color: $color;
    // color: set-text-color($color);
//   }