* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '_confing.scss';
@import '_utilities.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


@mixin setMain($width){
width: 87.5%;
height: 100%;
margin: 0 0 0 150px;
}

@mixin setMainContainer($height){
    width: 100%;
    height: $height;
    margin-right: 60px;
}
@mixin set-background($color){
    background-color: $color;
}

:root {
--bg-color:rgb(235, 235, 176);
--white-color:#fff;
--black-color:black;
--red-color:red;
--orange-color:orange;
--yellow-color:yellow;
--green-color:green;
--blue-color:blue;
--Indian-color:#4B0082;
--purple-color:purple;
--body-font: 'Open Sans', sans-serif;
}

html {
    font-size: 10px;
}
body {
    margin: 2rem;
    background:var(--bg-color);
    font-family:var(--body-font);

.container {
    .left__narbar {
        width: 10rem;
        height:95vh;
        background: var(--yellow-color);
        margin: 0 auto;  
        position: fixed;
        z-index: 3;  
        text-align: center;
        font-size: 1.4rem;
        &:hover{
            background:$white-color;
        }
    a {
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        img {
            width: 4rem;
            height: 4rem;
            // overflow: hidden;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 1rem;      
        }
    }
    ul {
        margin: 2rem 0;
      li {
          list-style-type: none;
          margin: 2rem 0;
        //   text-align: center;
          a {
              color: black;
              text-decoration: none;
          }
      }
    }
    }
    .top__narbar {   
        display: flex;
        justify-content: flex-end;
        position: fixed;
        z-index: 3;
        top: 30;
        width: 100%;
    .search {
        margin: 0 1rem 0 12rem;
        border-radius: 0.5rem;
        width: 75%;
        height: 3.5rem;
        flex: 1;
        &:hover{
            background:$yellow-color;
        }
    }
    .top__sing{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 25%;
    li {
        list-style-type: none; 
        
        .sing__in {
            border: 1px solid black;
            text-decoration: none;
            padding: 0.8rem 1rem;
            border-radius: 0.5rem; 
            &:hover{
                background:$yellow-color;
            }
        }
         a{
           text-decoration: none; 
           margin: 0 1.5rem;
           color: black;
           font-size: 1.3rem;
         }
    }
    }
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include setMain(1);
    .p1__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background:url(./img/behind.jpg) no-repeat center/cover;
        @include setMainContainer(700px); 
        color: $white-color;
        padding-bottom: 10rem;       
        margin-top: 5rem;
    }
    .p3__container {
        background-color:$white-color;
        @include setMainContainer(10rem); 
        &:hover{
            background:$yellow-color;
        }
      }
}
}
}
@media screen and (max-width: 52.5rem) {
    .left__narbar {
        display: none;
    }
    .search {
        position: absolute;
        right: 8rem;
    }
    .top__sing li {
      display: none;
    }
    .main {
        position: absolute;
        right: 0.5rem;
    }
  }